html {
    font-size: calc(10pt + 3vw);
    font-family: "Charter", "Bitstream Charter", serif;
    font-variant-numeric: oldstyle-nums;
    background-color: black;
    color: #d8dee9;
}

body {
    height: 100%;
}

#center {
    margin: auto;
    margin-top: 40vh;
    text-align: center;
}

#name {
    font-family: "Propisi Bold", script, sans-serif, serif;
    font-size: calc(30pt + 3vw);
}

.delim {
    opacity: 0.5;
}
