@import url('https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff&display=swap');

html {
    font-family: "Charter", "Bitstream Charter", serif;
    font-variant-numeric: oldstyle-nums;
    background-color: black;
    color: #d8dee9;
}

body {
    height: 100%;
}

#center {
    margin: auto;
    margin-top: 40vh;
    text-align: center;
}

#clock {
    font-size: 30pt;
}

.mmori {
    font-size: 20pt;
    font-family: "Herr Von Muellerhoff", cursive;
}

.delim {
    opacity: 0.5;
}
